.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 70px 0;
}

.cards__gallary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 270px));
  gap: 38px 20px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cards__gallary {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 339px));
    gap: 30px;
  }
}

@media screen and (max-width: 760px) {
  .cards {
    padding: 40px 10px 0;
  }

  .cards__gallary {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    gap: 34px;
  }
}
