.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 70px;
  box-sizing: border-box;
  background: #073042;
}

.header__container {
  width: 100%;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  min-width: 38px;
  min-height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px
}

.header__item {
  display: flex;
  align-items: center;
}

.header__link {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__link_type_login {
  padding: 8px 20px;
  border-radius: 3px;
  background: #2BE080;
  color: #000;
  box-sizing: border-box;
}