.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 70px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000000;
}

.header_theme_dark {
  background: #073042;
  color: #FFF;
}

.header__link {
  text-decoration: none;
}

.header__link:hover {
  opacity: .7;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  min-width: 38px;
  min-height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__burger-button {
  display: none;
  background-image: url(../../images/burger-menu-black.svg);
  z-index: 2;
  cursor: pointer;
}

.header__burger-button:hover {
  opacity: .8;
}

.header__burger-button_theme_dark {
  background-image: url(../../images/burger-menu-white.svg);
}

@media screen and (max-width: 769px) {
  .header {
    padding: 15px 30px;
  }
  
  .header__burger-button {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .header__burger-button_active {
    background-image: url(../../images/close-button.svg);
    background-size: cover;
  }
}

@media screen and (max-width: 430px) {
  .header {
    padding: 15px 14px 16px;
  }
}