.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 70px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .register {
    padding: 232px 0;
    justify-content: center;
  }
}

@media screen and (max-width: 760px) {
  .register {
    padding: 56px 0 30px;
    justify-content: space-between;
  }
}
